/* ===================================
   Improts
   =================================== */
@import "sprites/_sprite_bundle";
@import "assets/_normalize";
@import "assets/base";
@import "assets/grid";
@import "assets/vars";

/* ===================================
   Navigation rules
   =================================== */

#navigation {
  background-color: $header-bg;
  //height: 110px;
  
  .lang {
    float: left; 
    padding-top: 10px;   
    a {      
      font-size: 13px;
      font-family: $sofia-l;
      padding-left: 26px;
      @extend .small_icons-nl_flag;
      @include sprite-background-position($small_icons-sprites, nl_flag, 0, 3px);
    } 
  }
  
  .login {
    float: left;
    letter-spacing: 0.5px;
    margin-left: 38px;
    padding-top: 10px;
    a {
      font-size: 13px;
      font-family: $sofia-l;
      &:hover {
        font-family: $sofia-m;
      }
    }
  }
  
  .logo {
    left: calc(50% - 147px);
    position: absolute;
    a {
      font-size: 34px;
      font-family: $sofia-r;
      line-height: 20px;
      @include opacity(0.2s);
    }
    .first {
      letter-spacing: 2px;
    }
    .second {
      left: 54px;
      letter-spacing: 1px;
      opacity: 0;
      position: absolute;
    }
    &:hover {
      .first {
        opacity: 0;
      }
      .second {
        opacity: 1;
      }
    }
  }
  
  .cart,
  .wishlist {
    cursor: pointer;
    float: right;
    font-size: 13px;
    font-family: $sofia-l;
    height: 16px;
    margin-top: 10px;
    padding-left: 23px;    
  }
   
  .wishlist {
    @extend .small_icons-wish;
    &:hover {
      @extend .small_icons-wishActive;     
    }
  }
  
  .cart {
    margin-left: 40px;
    @extend .small_icons-cart;
    &:hover {
      @extend .small_icons-cartActive;     
    }
  }
  
  .first-level div,
  .first-level span,
  .first-level a {
    color: $header-main;
  }
  
  .first-level {
    height: 55px;
    padding-top: 18px;
    div:not(.logo) a {
      display: table-cell;
      &:hover {
        color: $header-action;
      }
    }
  }
  
  .second-level {
    height: 55px;
    color: $header-main;
    font-family: $sofia-l;
    @extend %flexbox;
  }
  
  .nav-menu {    
    li {
      border-bottom: 2px solid $header-bg;      
      cursor: pointer;
      display: inline-block;
      font-size: 19px;      
      padding-bottom: 4px;      
      &:hover {
        font-family: $sofia-m;
        border-bottom: 2px solid $header-main;
      } 
    }
    .home {
      width: 22px;
      @extend .small_icons-home;
    }
    li:not(.home) {
      margin: 0 17px;
    }
    li:last-child {
      text-align: center;
      width:100px;
    }
  }
  
  .search {
    cursor: pointer;
    font-size: 14px;      
    height: 18px;
    position: absolute;
    padding-left: 24px;
    right: 12px;
    top: 17px;
    @extend .small_icons-search;
    &:hover {
      color: $header-action;
      @extend .small_icons-searchActive;
    }
  }
  
}
#midSection {
  width: 100%;
  img {
    width: 100%;
  }
}

/* ===================================
   Dropdown menu
   =================================== */

.dropdown-menu {
  display: none;  
  position: absolute;
  z-index: 20;
  
  .inner {
    background: $header-bg none repeat scroll 0 0;
    border: 1px solid $border-gray;
    padding: 25px 10px 20px;
  }
  
  .container-fluid {
    padding: 0 10px;
  }
  
  .two {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  
  h4 {
    color: $header-main;
    font-family: $sofia-m;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 22px;
  }
  
  li {
    padding-bottom: 13px;
  }
  
  .tri {
    border-top: 1px solid $border-gray;
    border-left: 1px solid $border-gray;
    background-color: $header-bg;
    display: block;
    height: 20px;
    left: calc(50% - 12px);
    position: absolute;
    top: -10px;
    width: 20px;
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
  }
  
  a {
    color: $header-main;
    display: flex;
    font-family: $sofia-m;
    font-size: 14px;
    font-weight: 100;
  }   
  
}

/* ===================================
   Shopping cart
   =================================== */

#shoppingCart {
  //border-bottom: 1px solid $border-gray;
  background: $header-bg none repeat scroll 0 0;
  //display: none;
  position: relative;
  padding-top: 20px;
  width: 100%;

  .row {
    color: $header-main;
    border-bottom: 1px solid $border-gray;
    display:block;
    padding: 20px 0;
    width: 100%;
    p {
      line-height: 1.5;
      font-size: 14px;
      font-family: $sofia-l;
    }
    span {
      font-size: 14px;
      font-family: $sofia-m;
    }
  }
  
  .ccards {
    font-size: 14px;
    font-family: $sofia-l;
    margin: 0 23px 0 7px;
  }
  
  .action {
    color: #999999;
    font-size: 14px;
    font-family: $sofia-m;
    text-decoration: underline;
    &:hover {
      color: #666666;
    }
  }
  
  table {
    width: 100%;   
    tr td:last-child {
      padding-right: 25px;
      text-align: right;
    }
  }
  
  .sym,
  .name,
  .ind {
    font-size: 15px !important;
    font-family: $sofia-m;
  }
  .sum {
    font-size: 19px;
    font-family: $sofia-m;
  }
  
  .left {
    float: left;
    width: 58%;
  }
  
  .right {
    float: left;
    width: 41%;
  }
  
  .btn {
    width: 190px;
    @extend %btn;
    @extend .small_icons-small_arrow_white; 
    @include sprite-background-position($small_icons-sprites, small_arrow_white, 168px, 16px);
    &:hover,
    &:active {
      background-color: $dark-blue;
    }           
  }
  
  .ccards {
    display: inline-block;
    height: 22px;
    width: 115px;
    @extend .small_icons-ccards; 
  }
  
  .product .id {
    font-size: 14px;
    font-family: $sofia-l;
  }
  .product h5 {
    font-size: 15px;
    font-family: $sofia-m;
    margin-bottom: 20px;
  }
  
  .details {
    span {
      display: block;
    }
    a {
      display: inline-block;
    }
  }
  
  .close {
    margin-right: 12px;
  }
  
  .tri {
    border-bottom: 1px solid $border-gray;
    border-right: 1px solid $border-gray;
    background-color: $header-bg;
    display: block;
    height: 20px;
    right: 23px;
    position: absolute;
    bottom: -10px;
    width: 20px;
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
  }
  
  .first .right {
    color: $header-main;
    .wrapper > div {
      float: left;
      margin-right: 60px;
    }
  }
  
  .quantity {    
    display: inline-block;
    position: relative;    
    select {
      @extend %select;
      option {
        color: $border-gray;
        padding: 2px 0 2px 18px;/*
        &:checked {
          color: $header-main;
          font-size: 14px;
          font-family: $sofia-m;
        }*/
      }
    }
  }
select:not(:checked) {
   color: gray;
}
  .outter-c {
    border: 1px solid $border-gray;
    border-radius: 20px;
    cursor: pointer;
    padding: 11px;
    height: 40px;
    width: 40px;
  }
  .inner-c {
    background: #000;
    border-radius: 10px;
    content: " ";
  }
  
  .sym {
    display: flex;
    padding-top: 10px;
  }
  
  .lbl {
    display: flex;
    font-size: 15px;
    font-family: $sofia-m;
    padding-bottom: 15px;
  }
  
}

/* ===================================
   Slider
   =================================== */

#slider {
  width: 100%;
  overflow: hidden;
  
  .slides {
    width: 100%;
    position: relative;
    display: block;
  }
  
  .slide {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .slide:not(.active) {
    position: absolute;
  }
  
  .left {    
    background-image: url("../images/arrow_left.png");  
    margin-left: -6px;  
    @extend %singlecontroll;  
    @include opacity(0.4s);
  }
  
  .right {
    float: right;
    background-image: url("../images/arrow_right.png");
    @include opacity(0.4s);   
    @extend %singlecontroll;    
  }
  
  .active {
    z-index: 2;
  }
  
  .inner {
    text-align: center;
  }
  
  .caption {
    color: #fff;
    @extend %fullscreen;
    @extend %flexbox;
    h3 {
      font-size: 110px;
      font-family: $sofia-b;
      margin:0;
      text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
    }
    span {
      font-size: 25px;
      font-family: $sofia-l;
      text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
    }
  }
  
  .controlls {      
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
    span:hover {
      background-color: $dark-blue;
    }
  }
  
  .navs {
    bottom: 0;
    position: absolute;
    left: calc(50% - 25px);
    z-index: 3;
    li {
      border-radius: 10px;
      background: rgba(255,255,255, 0.5);
      cursor: pointer;
      display: inline-block;
      height: 8px;
      margin:0 2px;
      text-indent: -9999px;            
      width: 8px;
    }
    
    .active {
      background: rgba(255,255,255, 1); 
    }
    
  }
  
  &:hover {
    .controlls span {
      opacity: 1;
    }
  }
}

/* ===================================
   Boxes
   =================================== */

#boxes {
  display: block;
  position: relative;
  width: 100%;
  
  .left,
  .right {    
    background-color: $header-main;
    float: left;
    overflow: hidden;
    position: relative;
    width: 50%;    
  }
  
  img {
    opacity: 0.9;
    @include opacity(0.3s);
    &:hover {
      opacity: 0.85;
    }
  }
  
  .box-caption {
    @extend %fullscreen;
    @extend %flexbox;
    span {
      color: #fff;
      font-size: 50px;
      font-family: $sofia-m;      
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
      z-index: 5;
    }
  }
  
}

/* ===================================
   Notice
   =================================== */

.notice {
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  height: 69px;
  position: relative;
  text-align: center;
  width: 100%;
  @extend %flexbox;
  h4 {
    color: $header-main;
    font-size: 25px;
    font-family: $sofia-m;
    margin:0;    
  }
}

/* ===================================
   Products
   =================================== */

.products {
  border-bottom: 1px solid $border-gray;
  position: relative;
  width: 100%;
  
  .left {
    padding-left: 0;
  }
  
  .right {
    padding-right: 0;    
  }
  
  .iBox {
    width: 50%;
    float: left;
    .image {
      padding-right: 10px;
    }
  }
  
  .oBox {
    .image {
      padding-right: 10px;
    }
    .details {
      padding-left: 10px;
      padding-top: 38px;
      color: $header-main;
    }
  }
  
  h3 {
   font-size: 19px;
   font-family: $sofia-m;
   margin: 0;
  }
  
  p {
    font-size: 14op;
    font-family: $sofia-l;
    line-height: 1.5; 
    margin-top: 18px;
  }
  
  a {
    font-size: 14px;
    font-family: $sofia-b;
    color: $header-main;
    margin-top: 20px;
    display: block;
  }
}

/* ===================================
   Contactr block
   =================================== */

#contact {  
  background-color: $header-bg;
  padding: 30px 0 42px 0;  
  
  .container-fluid {
    padding: 0 14px;
  }
  
  .sub-menu {
    display: inline-block;
    float: left;
    li {
      padding-bottom: 15px;
    }
    a {
      color: $header-main;
      display: block;
      font-size: 15px;
      font-family: $sofia-m;
      letter-spacing: 1px;
      &:hover {
        color: #000;
        font-family: $sofia-b;
      }
    }
  }
  
  .newsletter {    
    
    span {
      display: flex;
      font-size: 14px;
      font-family: $sofia-l;
      line-height: 1.5;
      margin: 0;
      margin-top: -6px;
    }
    .email {
      box-shadow: unset;
      border: 1px solid $border-gray;
      display: block;
      font-size: 14px;
      font-family: $sofia-l;      
      height: 43px;
      margin: 11px 0 15px 0;
      padding-left: 10px;
      width: 288px;
    }
    .invalid {
      border: 1px solid #e6535d;
    }
    .btn {
      @extend %btn;
      @extend .small_icons-small_arrow_white; 
      &:hover,
      &:active {
        background-color: $dark-blue;
      }           
    }
    .w {
      margin-right: 12px;
      @include sprite-background-position($small_icons-sprites, small_arrow_white, 79px, 16px);
    }
    .m {
      margin-right: 12px;
      @include sprite-background-position($small_icons-sprites, small_arrow_white, 58px, 16px);
    }
    .b {
      @include sprite-background-position($small_icons-sprites, small_arrow_white, 66px, 16px);
    }
  }
  
  .info.col-xs-4 > div {
    display: inline-block;
    padding-right: 13px;
  }
  
  .info {
    float: right;
    text-align: center;    
    font-size: 14px;
    .pin {
      margin: 0 auto;
      margin-bottom: 11px;
      display: block;
      height: 35px;
      width: 26px;
      @extend .small_icons-pin;
    }
    p {
      color: $header-main;
      display: block;
      font-size: 14px;
      font-family: $sofia-l;
      margin: 4px;
    }
    a {
      color: $header-main;
      display: block;
      font-family: $sofia-b;
      margin-top: 20px;
      padding-right: 20px;
      @extend .small_icons-small_arrow_blue;
      @include sprite-background-position($small_icons-sprites, small_arrow_blue, 153px, 3px);
    }
  }
}

/* ===================================
   Footer block
   =================================== */

footer {
  background-color: $header-main;
  height: 50px;
  padding-top: 15px;
  
  .container-fluid {
    padding: 0 28px;
  }
  
}

#information {  
  
  p {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-family: $sofia-l;
  }
  
  .socials {
    float: right;
    padding-right: 13px;
    li {
       display: inline-block;
       margin: 0 10px;
    }
    a {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
  
  .fb {
    @extend .small_icons-fb;
    @include sprite-background-position($small_icons-sprites, fb, 6px, 0);
    &:hover {
      @extend .small_icons-fb2;
      @include sprite-background-position($small_icons-sprites, fb2 , 6px, 0);
    }
  }
  .yt {
    @extend .small_icons-yt;
    &:hover {
      @extend .small_icons-yt2;
    }
  }
  .in {
    @extend .small_icons-in;
    @include sprite-background-position($small_icons-sprites, in, 0, 2px);
    &:hover {
      @extend .small_icons-in2;
      @include sprite-background-position($small_icons-sprites, in2, 0, 2px);
    }
  }
  .gp {
    @extend .small_icons-gp;
    @include sprite-background-position($small_icons-sprites, gp, 0, 2px);
    &:hover {
      @extend .small_icons-gp2;
      @include sprite-background-position($small_icons-sprites, gp2, 0, 2px);
    }
  }
  .pt {
    @extend .small_icons-pt;
    &:hover {
      @extend .small_icons-pt2;
    }
  }
  .tw {
    @extend .small_icons-tw;
    @include sprite-background-position($small_icons-sprites, tw, 0, 2px);
    &:hover {
      @extend .small_icons-tw2;
      @include sprite-background-position($small_icons-sprites, tw2, 0, 2px);
    }
  }
  
}

/* ===================================
   Misc
   =================================== */

.close {
    cursor: pointer;
    display: block;
    float: right;
    margin-bottom: 24px;
    height: 12px;
    width: 12px;
    @include rotate(0.34s);
    @extend .small_icons-close;
    &:hover {
      @extend %rotate;
    }
  }

/* ===================================
   End of file
   =================================== */
  