/**
 *   For mediaqueries.
 */


/* LArge devices, Desktopsa nd Laptops [and even a few tablets] */
@media only screen and (min-width : 1024px) {

}

/* Medium Devices, Tablets */
@media only screen and (max-width : 1024px) and (min-width: 768px) {
  
  #shoppingCart {
    
    .third.row .right {
      text-align: right;
    }
    
    .first .right .size
    .first .right .color, 
    .first .right .quantity {
      margin-right: 31px;
    }
    
    .ccards {
      margin:0;
    }
    
  } /* End shoppingCart */ 
  
  #contact {
    
    .info > div {
      padding-right: 0;
    }
    
    .newsletter {
      .email {
        width: 100%;  
      }
      .w {
        margin:0;
        background-position: 69px, 16px;
      }
      .m {
        margin:0;
        background-position: 47px, 16px;
      } 
      .b {
        background-position: 54px, 16px;
      }
      .btn {
        padding: 0 20px 0 9px;
      }
    }
 
  } /* End Contact */ 
  
  .products { 
    .left,
    .right {
      padding: 10px;
    } 
  }
  
}

@media only screen and (min-width: 768px) {
  .visible-xs {
    display: none;
  }
}

/* Small Devices, Tablets 10.1, Phones */
@media only screen and (max-width : 768px) {
  
  #navigation {
    
    .lang,
    .login,
    .nav-menu,
    .wishlist {
      display: none;
    }    
    
    .second-level {
      display: block;
    }
    
    .logo {
      left: calc(50% - 100px);
      a {
        font-size: 22px;
      }
    }
    
    .cart {
      margin-top: 5px;
    }
    
    .search {
      left: calc(50% + 17px);
      right: 0;
    }
        
    .first-level div:not(.logo) a {
      padding-top: 1px;
    }
    
    .toggler-wrapper {
      left: 10px;
      position: absolute;
      width: 31px;
      top: 20px;
      button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none; 
        cursor: pointer;       
        height: 18px;
        outline: medium none;
        width: 17px;
        margin-top: 4px;
        padding: 0;
        .bar {
          background: #000;
          color: #000;
          border-radius: 1px;
          display: block;
          margin-bottom: 3px;
          height: 2px;
          width: 18px;
        }
      }
    }
    
  }
  
  #information { 
    height: 100%;
       
    .socials {
      display: table;
      margin: 0 auto;
      padding: 0;
      float: none;
    }
    
    p {
      bottom: 15px;
      left: calc(50% - 40px);
      position: absolute;
    }
  }/* End information */ 
  
  footer {
    padding-top: 20px;
    height: 86px;
    
    footer .container-fluid {
      height: 100%;
      padding: 0 28px;
    }
    
  }/* End Footer */ 
  
  #contact {
    .sub-menu,
    .info {
      display: none;
    } 
    
    .newsletter {
      width: 100%;
      padding: 0;
      .email {
        width: 100%;
      }
      .m {
        margin: 0;
        position: absolute;
        left: calc(50% - 30px);
      }
      .w {
        margin:0;
      }
      .b {
        float: right;
      }
    }    
  }/* End contact */
 
  .products {    
    .left {
      padding: 0;
    }
    .oBox {
      padding-bottom: 60px;
      .image {
        padding: 0;
      }
      .details {
        padding: 20px 10px 0;
      }
    }
    .iBox {
      float: none;
      width: 100%;
    }
  }/* End products */
 
  .notice h4 {
    font-size: 19px;
    font-weight: 100;
  }
  
  #boxes .box-caption span {
    font-size: 26px;
    width: 80px;
  }
  
  #slider .caption h3 {
    font-size: 100px;
    font-weight: 100;
  }
  
  #shoppingCart {
    
    .left,
    .right {
      width: 100%;
    }
    
    .first .left,
    .second .left,
    .third .left {
      padding-bottom: 15px;
    }
    
    .first .right .size,
    .first .right .color,
    .first .right .quantity {
      margin-right: 1px;
    }
    
    .ccards {
      margin: 0;
    }
    
    .first .right .wrapper > div {
      float: left;
      width: 24%;
    }
    
    .product .image {
      padding-right: 0;
      width: 50%;
    }
    
    .details {
      margin-left: 0;
      padding-left: 0;
      width: 50%;
    }
    
    table tr td:last-child {
      padding-right: 0;
    }
    
    .row p {
      text-align: center;
    }
    
    .third .right > div {
      display: block;
      margin: 0 auto;
      width: 192px;
    }
    
  }/* End shoppingCart */
  
  #searchBlock .top-block  {
    .search-btn {
      background-position: 8px -783px;
      padding: 0;
      right: 0;
      text-indent: -9999px;
      width: 17px;
    }
    .clear-btn {
      background-position: 11px -183px;
      right: 17px;
      text-indent: -9999px;
      width: 30px;
    }
  }/* End searchBlock */
  
  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) and (min-width: 480px) {
 
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #slider .caption h3 {
    font-size: 80px;
    font-weight: 100;
  }
  #slider .caption span {
    font-size: 21px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) and (min-width: 320px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}



/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

