/* ===================================
   Base markup rules
   =================================== */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
} 
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
html {
  line-height: 1;
}
.hide {
  display: none;
}
.show {
  display: block;
}
a {
  text-decoration: none;
}
p {
  margin:0;
}
ul {
  padding:0;
  margin:0;
  list-style-type: none;
}
.img-resize {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 1px;
  display: block;
}

