/* ===================================
    Fonts
   =================================== */
@font-face {
    font-family: 'sofia_probold';
    src: url('../fonts/mostardesign_-_sofia_pro_bold-webfont.otf') format('otf');
    src: url('../fonts/mostardesign_-_sofia_pro_bold-webfont.woff2') format('woff2'),
         url('../fonts/mostardesign_-_sofia_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_prolight';
    src: url('../fonts/mostardesign_-_sofia_pro_light-webfont.otf') format('otf');
    src: url('../fonts/mostardesign_-_sofia_pro_light-webfont.woff2') format('woff2'),
         url('../fonts/mostardesign_-_sofia_pro_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_promedium';
    src: url('../fonts/mostardesign_-_sofia_pro_medium-webfont.otf') format('otf');
    src: url('../fonts/mostardesign_-_sofia_pro_medium-webfont.woff2') format('woff2'),
         url('../fonts/mostardesign_-_sofia_pro_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_proregular';
    src: url('../fonts/mostardesign_-_sofia_pro_regular-webfont.otf') format('otf');
    src: url('../fonts/mostardesign_-_sofia_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/mostardesign_-_sofia_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ===================================
    Colors
   =================================== */

$header-bg: #fcfbf9;
$header-main: #002d47;
$header-action: #000;
$border-gray: #dddad6; 
$dark-blue: #001d2d;

/* ===================================
   Misc
   =================================== */

$sofia-l: 'sofia_prolight';
$sofia-b: 'sofia_probold';
$sofia-m: 'sofia_promedium';
$sofia-r: 'sofia_proregular';

/* ===================================
   Classes & Mixins
   =================================== */
  
@mixin opacity($duration) {
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
           transition-property:opacity;
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}  
  
%fullscreen {
  left:0;
  right:0;
  bottom:0;
  top:0;
  position: absolute;
}  
  
%flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

%singlecontroll {
  content: " ";
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 12px 18px; 
  background-color: #002d47;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  opacity:0;  
  position: relative;
  width: 34px;
  z-index: 9999;
}

@mixin rotate($duration) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;

  -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
                   transition-property: transform;
}

%rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
