/* ===================================
   Improts
   =================================== */
/* line 272, small_icons/*.png */
.small_icons-sprite, .small_icons-arrow_down, #shoppingCart .select.closed, .small_icons-bread, .small_icons-cart, #navigation .cart, .small_icons-cartActive, #navigation .cart:hover, .small_icons-ccards, #shoppingCart .ccards, .small_icons-close, .close, .small_icons-close2, #shoppingCart .select.opened, #searchBlock .top-block .clear-btn, .small_icons-fb, #information .fb, .small_icons-fb2, #information .fb:hover, .small_icons-gp, #information .gp, .small_icons-gp2, #information .gp:hover, .small_icons-home, #navigation .nav-menu .home, .small_icons-in, #information .in, .small_icons-in2, #information .in:hover, .small_icons-nl_flag, #navigation .lang a, .small_icons-pin, #contact .info .pin, .small_icons-pin2, #navigation .pin, .small_icons-pt, #information .pt, .small_icons-pt2, #information .pt:hover, .small_icons-search, #navigation .search, .small_icons-searchActive, #navigation .search:hover, .small_icons-small_arrow_blue, .products a, #contact .info a, .small_icons-small_arrow_white, #shoppingCart .btn, #searchBlock .top-block .search-btn, #contact .newsletter .btn, .small_icons-tw, #information .tw, .small_icons-tw2, #information .tw:hover, .small_icons-wish, #navigation .wishlist, .small_icons-wishActive, #navigation .wishlist:hover, .small_icons-yt, #information .yt, .small_icons-yt2, #information .yt:hover {
  background-image: url('/images/small_icons-s9dc42e7ced.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-arrow_down, #shoppingCart .select.closed {
  background-position: 0 0;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-bread {
  background-position: 0 -26px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-cart, #navigation .cart {
  background-position: 0 -57px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-cartActive, #navigation .cart:hover {
  background-position: 0 -93px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-ccards, #shoppingCart .ccards {
  background-position: 0 -129px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-close, .close {
  background-position: 0 -169px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-close2, #shoppingCart .select.opened, #searchBlock .top-block .clear-btn {
  background-position: 0 -201px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-fb, #information .fb {
  background-position: 0 -231px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-fb2, #information .fb:hover {
  background-position: 0 -269px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-gp, #information .gp {
  background-position: 0 -307px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-gp2, #information .gp:hover {
  background-position: 0 -344px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-home, #navigation .nav-menu .home {
  background-position: 0 -381px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-in, #information .in {
  background-position: 0 -418px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-in2, #information .in:hover {
  background-position: 0 -455px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-nl_flag, #navigation .lang a {
  background-position: 0 -492px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-pin, #contact .info .pin {
  background-position: 0 -523px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-pin2, #navigation .pin {
  background-position: 0 -577px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-pt, #information .pt {
  background-position: 0 -620px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-pt2, #information .pt:hover {
  background-position: 0 -658px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-search, #navigation .search {
  background-position: 0 -696px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-searchActive, #navigation .search:hover {
  background-position: 0 -733px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-small_arrow_blue, .products a, #contact .info a {
  background-position: 0 -770px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-small_arrow_white, #shoppingCart .btn, #searchBlock .top-block .search-btn, #contact .newsletter .btn {
  background-position: 0 -801px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-tw, #information .tw {
  background-position: 0 -832px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-tw2, #information .tw:hover {
  background-position: 0 -867px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-wish, #navigation .wishlist {
  background-position: 0 -902px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-wishActive, #navigation .wishlist:hover {
  background-position: 0 -937px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-yt, #information .yt {
  background-position: 0 -972px;
}

/* line 84, ../../../../../home/alexandar/.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.small_icons-yt2, #information .yt:hover {
  background-position: 0 -1010px;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 9, ../sass/assets/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, ../sass/assets/_normalize.scss */
body {
  margin: 0;
}

/* line 33, ../sass/assets/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 54, ../sass/assets/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 67, ../sass/assets/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 77, ../sass/assets/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 89, ../sass/assets/_normalize.scss */
a {
  background-color: transparent;
}

/* line 98, ../sass/assets/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 110, ../sass/assets/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 118, ../sass/assets/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/assets/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 136, ../sass/assets/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 145, ../sass/assets/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 154, ../sass/assets/_normalize.scss */
small {
  font-size: 80%;
}

/* line 162, ../sass/assets/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../sass/assets/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../sass/assets/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 185, ../sass/assets/_normalize.scss */
img {
  border: 0;
}

/* line 193, ../sass/assets/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 204, ../sass/assets/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 212, ../sass/assets/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 221, ../sass/assets/_normalize.scss */
pre {
  overflow: auto;
}

/* line 229, ../sass/assets/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 252, ../sass/assets/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 266, ../sass/assets/_normalize.scss */
button {
  overflow: visible;
}

/* line 277, ../sass/assets/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 290, ../sass/assets/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 302, ../sass/assets/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 311, ../sass/assets/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 322, ../sass/assets/_normalize.scss */
input {
  line-height: normal;
}

/* line 334, ../sass/assets/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 346, ../sass/assets/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 356, ../sass/assets/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 367, ../sass/assets/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 376, ../sass/assets/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 387, ../sass/assets/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 396, ../sass/assets/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 405, ../sass/assets/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 416, ../sass/assets/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, ../sass/assets/_normalize.scss */
td,
th {
  padding: 0;
}

/* ===================================
   Base markup rules
   =================================== */
/* line 4, ../sass/assets/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/assets/_base.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/assets/_base.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

/* line 20, ../sass/assets/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../sass/assets/_base.scss */
html {
  line-height: 1;
}

/* line 26, ../sass/assets/_base.scss */
body.push {
  overflow: hidden;
}

/* line 29, ../sass/assets/_base.scss */
.hide {
  display: none;
}

/* line 32, ../sass/assets/_base.scss */
.show {
  display: block;
}

/* line 35, ../sass/assets/_base.scss */
a {
  text-decoration: none;
}

/* line 38, ../sass/assets/_base.scss */
p {
  margin: 0;
}

/* line 41, ../sass/assets/_base.scss */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 46, ../sass/assets/_base.scss */
h3, h4, h5, h6 {
  margin: 0;
}

/* line 49, ../sass/assets/_base.scss */
.img-resize {
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 1px;
  display: block;
}

/* ===================================
   12 Column grid system
   =================================== */
/* line 4, ../sass/assets/_grid.scss */
.container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/* line 9, ../sass/assets/_grid.scss */
.col-xs-1, .col-sm-1, .col-md-1,
.col-xs-2, .col-sm-2, .col-md-2,
.col-xs-3, .col-sm-3, .col-md-3,
.col-xs-4, .col-sm-4, .col-md-4,
.col-xs-5, .col-sm-5, .col-md-5,
.col-xs-6, .col-sm-6, .col-md-6,
.col-xs-7, .col-sm-7, .col-md-7,
.col-xs-8, .col-sm-8, .col-md-8,
.col-xs-9, .col-sm-9, .col-md-9,
.col-xs-10, .col-sm-10, .col-md-10,
.col-xs-11, .col-sm-11, .col-md-11,
.col-xs-12, .col-sm-12, .col-md-12 {
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  visibility: visible;
}

/* line 27, ../sass/assets/_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 30, ../sass/assets/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 33, ../sass/assets/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 36, ../sass/assets/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 39, ../sass/assets/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 42, ../sass/assets/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 45, ../sass/assets/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 48, ../sass/assets/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 51, ../sass/assets/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 54, ../sass/assets/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 57, ../sass/assets/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 60, ../sass/assets/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 63, ../sass/assets/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  /* line 67, ../sass/assets/_grid.scss */
  .container-fluid {
    width: 750px;
  }

  /* line 70, ../sass/assets/_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 73, ../sass/assets/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 76, ../sass/assets/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 79, ../sass/assets/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 82, ../sass/assets/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 85, ../sass/assets/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 88, ../sass/assets/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 91, ../sass/assets/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 94, ../sass/assets/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 97, ../sass/assets/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 100, ../sass/assets/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 103, ../sass/assets/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 106, ../sass/assets/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1024px) {
  /* line 111, ../sass/assets/_grid.scss */
  .container-fluid {
    width: 1020px;
  }

  /* line 114, ../sass/assets/_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 117, ../sass/assets/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 120, ../sass/assets/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 123, ../sass/assets/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 126, ../sass/assets/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 129, ../sass/assets/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 132, ../sass/assets/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 135, ../sass/assets/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 138, ../sass/assets/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 141, ../sass/assets/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 144, ../sass/assets/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 147, ../sass/assets/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 150, ../sass/assets/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }
}
/* ===================================
    Fonts
   =================================== */
@font-face {
  font-family: 'sofia_probold';
  src: url("../fonts/mostardesign_-_sofia_pro_bold-webfont.otf") format("otf");
  src: url("../fonts/mostardesign_-_sofia_pro_bold-webfont.woff2") format("woff2"), url("../fonts/mostardesign_-_sofia_pro_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofia_prolight';
  src: url("../fonts/mostardesign_-_sofia_pro_light-webfont.otf") format("otf");
  src: url("../fonts/mostardesign_-_sofia_pro_light-webfont.woff2") format("woff2"), url("../fonts/mostardesign_-_sofia_pro_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofia_promedium';
  src: url("../fonts/mostardesign_-_sofia_pro_medium-webfont.otf") format("otf");
  src: url("../fonts/mostardesign_-_sofia_pro_medium-webfont.woff2") format("woff2"), url("../fonts/mostardesign_-_sofia_pro_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sofia_proregular';
  src: url("../fonts/mostardesign_-_sofia_pro_regular-webfont.otf") format("otf");
  src: url("../fonts/mostardesign_-_sofia_pro_regular-webfont.woff2") format("woff2"), url("../fonts/mostardesign_-_sofia_pro_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ===================================
    Colors
   =================================== */
/* ===================================
   Misc
   =================================== */
/* ===================================
   Classes & Mixins
   =================================== */
/* line 74, ../sass/assets/_vars.scss */
#shoppingCart .btn, #searchBlock .top-block .search-btn, #contact .newsletter .btn {
  background-color: #002d47;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: "sofia_probold";
  padding: 0 29px 0 15px;
  height: 43px;
}

/* line 108, ../sass/assets/_vars.scss */
#slider .caption, #boxes .box-caption {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
}

/* line 116, ../sass/assets/_vars.scss */
#navigation .second-level, #slider .caption, #boxes .box-caption, .notice {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 122, ../sass/assets/_vars.scss */
#slider .left, #slider .right {
  content: " ";
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 12px 18px;
  background-color: #002d47;
  display: inline-block;
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: relative;
  width: 34px;
  z-index: 9999;
}

/* line 149, ../sass/assets/_vars.scss */
.close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* ===================================
   Navigation rules
   =================================== */
/* line 14, ../sass/main.scss */
#mainNavbar {
  background-color: #fcfbf9;
  z-index: 3;
}

/* line 19, ../sass/main.scss */
#navigation {
  background-color: #fcfbf9;
}
/* line 23, ../sass/main.scss */
#navigation .lang {
  float: left;
  padding-top: 10px;
}
/* line 26, ../sass/main.scss */
#navigation .lang a {
  font-size: 13px;
  font-family: "sofia_prolight";
  padding-left: 26px;
  background-position: 0 -489px;
}
/* line 35, ../sass/main.scss */
#navigation .login {
  float: left;
  letter-spacing: 0.5px;
  margin-left: 38px;
  padding-top: 10px;
}
/* line 40, ../sass/main.scss */
#navigation .login a {
  font-size: 13px;
  font-family: "sofia_prolight";
}
/* line 43, ../sass/main.scss */
#navigation .login a:hover {
  font-family: "sofia_promedium";
}
/* line 49, ../sass/main.scss */
#navigation .logo {
  left: calc(50% - 147px);
  position: absolute;
}
/* line 52, ../sass/main.scss */
#navigation .logo a {
  font-size: 34px;
  font-family: "sofia_proregular";
  line-height: 20px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 58, ../sass/main.scss */
#navigation .logo .first {
  letter-spacing: 2px;
}
/* line 61, ../sass/main.scss */
#navigation .logo .second {
  left: 54px;
  letter-spacing: 1px;
  opacity: 0;
  position: absolute;
}
/* line 68, ../sass/main.scss */
#navigation .logo:hover .first {
  opacity: 0;
}
/* line 71, ../sass/main.scss */
#navigation .logo:hover .second {
  opacity: 1;
}
/* line 77, ../sass/main.scss */
#navigation .cart,
#navigation .wishlist {
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-family: "sofia_prolight";
  height: 16px;
  margin-top: 10px;
  padding-left: 23px;
}
/* line 95, ../sass/main.scss */
#navigation .cart {
  margin-left: 40px;
}
/* line 103, ../sass/main.scss */
#navigation .first-level div,
#navigation .first-level span,
#navigation .first-level a {
  color: #002d47;
}
/* line 109, ../sass/main.scss */
#navigation .first-level {
  height: 55px;
  padding-top: 18px;
}
/* line 112, ../sass/main.scss */
#navigation .first-level div:not(.logo) a {
  display: table-cell;
}
/* line 114, ../sass/main.scss */
#navigation .first-level div:not(.logo) a:hover {
  color: #000;
}
/* line 120, ../sass/main.scss */
#navigation .second-level {
  height: 55px;
  color: #002d47;
  font-family: "sofia_prolight";
}
/* line 127, ../sass/main.scss */
#navigation .nav-menu {
  padding-left: 7px;
}
/* line 129, ../sass/main.scss */
#navigation .nav-menu li {
  border-bottom: 2px solid #fcfbf9;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  padding-bottom: 4px;
}
/* line 135, ../sass/main.scss */
#navigation .nav-menu li:hover {
  font-family: "sofia_promedium";
  border-bottom: 2px solid #002d47;
}
/* line 140, ../sass/main.scss */
#navigation .nav-menu .home {
  width: 22px;
  background-position: 0 -379px;
}
/* line 145, ../sass/main.scss */
#navigation .nav-menu li:not(.home) {
  margin: 0 17px;
}
/* line 148, ../sass/main.scss */
#navigation .nav-menu li:last-child {
  text-align: center;
  width: 100px;
}
/* line 154, ../sass/main.scss */
#navigation .pin {
  display: inline-block;
  float: left;
  font-size: 15px;
  font-family: "sofia_prolight";
  height: 23px;
  padding-left: 29px;
  margin-top: 16px;
  width: 16px;
}
/* line 166, ../sass/main.scss */
#navigation .search {
  cursor: pointer;
  font-size: 14px;
  height: 18px;
  position: absolute;
  padding-left: 24px;
  right: 12px;
  top: 17px;
}
/* line 175, ../sass/main.scss */
#navigation .search:hover {
  color: #000;
}

/* line 182, ../sass/main.scss */
#midSection {
  width: 100%;
}
/* line 184, ../sass/main.scss */
#midSection img {
  width: 100%;
}

/* ===================================
   Dropdown menu
   =================================== */
/* line 193, ../sass/main.scss */
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 20;
}
/* line 198, ../sass/main.scss */
.dropdown-menu .inner {
  background: #fcfbf9 none repeat scroll 0 0;
  border: 1px solid #dddad6;
  padding: 25px 10px 20px;
}
/* line 204, ../sass/main.scss */
.dropdown-menu .container-fluid {
  padding: 0 10px;
}
/* line 208, ../sass/main.scss */
.dropdown-menu .two {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
/* line 214, ../sass/main.scss */
.dropdown-menu h4 {
  color: #002d47;
  font-family: "sofia_promedium";
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 22px;
}
/* line 222, ../sass/main.scss */
.dropdown-menu li {
  padding-bottom: 13px;
}
/* line 226, ../sass/main.scss */
.dropdown-menu .tri {
  border-top: 1px solid #dddad6;
  border-left: 1px solid #dddad6;
  background-color: #fcfbf9;
  display: block;
  height: 20px;
  left: calc(50% - 12px);
  position: absolute;
  top: -10px;
  width: 20px;
  z-index: 2;
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* line 242, ../sass/main.scss */
.dropdown-menu a {
  color: #002d47;
  display: flex;
  font-family: "sofia_promedium";
  font-size: 14px;
  font-weight: 100;
}

/* ===================================
   Shopping cart
   =================================== */
/* line 256, ../sass/main.scss */
#shoppingCart {
  border-bottom: 1px solid #dddad6;
  background: #fcfbf9 none repeat scroll 0 0;
  position: absolute;
  padding-top: 23px;
  transition: transform 0.5s ease 0s;
  width: 100%;
  z-index: 6;
}
/* line 266, ../sass/main.scss */
#shoppingCart .inner {
  padding: 0 10px;
}
/* line 270, ../sass/main.scss */
#shoppingCart .row {
  color: #002d47;
  display: block;
  padding: 20px 0;
  width: 100%;
}
/* line 275, ../sass/main.scss */
#shoppingCart .row p {
  line-height: 1.5;
  font-size: 14px;
  font-family: "sofia_prolight";
}
/* line 280, ../sass/main.scss */
#shoppingCart .row span {
  font-size: 14px;
  font-family: "sofia_promedium";
}
/* line 286, ../sass/main.scss */
#shoppingCart .row.first,
#shoppingCart .row.second {
  border-bottom: 1px solid #dddad6;
}
/* line 291, ../sass/main.scss */
#shoppingCart .ccards {
  font-size: 14px;
  font-family: "sofia_prolight";
  margin: 0 20px 0 3px;
}
/* line 297, ../sass/main.scss */
#shoppingCart .action {
  color: #999999;
  font-size: 14px;
  font-family: "sofia_promedium";
  border-bottom: 1px solid #999999;
  padding-bottom: 3px;
}
/* line 303, ../sass/main.scss */
#shoppingCart .action:hover {
  color: #666666;
}
/* line 308, ../sass/main.scss */
#shoppingCart table {
  width: 100%;
}
/* line 310, ../sass/main.scss */
#shoppingCart table tr td:last-child {
  padding-right: 25px;
  text-align: right;
}
/* line 314, ../sass/main.scss */
#shoppingCart table tr:first-child td {
  padding-bottom: 9px;
}
/* line 317, ../sass/main.scss */
#shoppingCart table tr:nth-child(2) td {
  padding-bottom: 17px;
}
/* line 322, ../sass/main.scss */
#shoppingCart .sym,
#shoppingCart .name,
#shoppingCart .ind {
  font-size: 15px !important;
  font-family: "sofia_promedium";
}
/* line 328, ../sass/main.scss */
#shoppingCart .sum {
  font-size: 19px;
  font-family: "sofia_promedium";
}
/* line 333, ../sass/main.scss */
#shoppingCart .left {
  float: left;
  width: 59%;
}
/* line 338, ../sass/main.scss */
#shoppingCart .right {
  float: left;
  width: 41%;
}
/* line 343, ../sass/main.scss */
#shoppingCart .btn {
  height: 50px;
  width: 190px;
  background-position: 168px -782px;
}
/* line 349, ../sass/main.scss */
#shoppingCart .btn:hover, #shoppingCart .btn:active {
  background-color: #001d2d;
}
/* line 355, ../sass/main.scss */
#shoppingCart .ccards {
  display: inline-block;
  height: 22px;
  width: 115px;
}
/* line 362, ../sass/main.scss */
#shoppingCart .product .id {
  font-size: 14px;
  font-family: "sofia_prolight";
}
/* line 366, ../sass/main.scss */
#shoppingCart .product h5 {
  font-size: 15px;
  font-family: "sofia_promedium";
  margin-bottom: 23px;
}
/* line 372, ../sass/main.scss */
#shoppingCart .product .image {
  padding-right: 0;
}
/* line 374, ../sass/main.scss */
#shoppingCart .product .image img {
  width: auto !important;
}
/* line 379, ../sass/main.scss */
#shoppingCart .details {
  padding-left: 0;
  margin-left: 35px;
}
/* line 382, ../sass/main.scss */
#shoppingCart .details span {
  display: block;
  margin-bottom: 5px;
}
/* line 386, ../sass/main.scss */
#shoppingCart .details a {
  display: inline-block;
}
/* line 389, ../sass/main.scss */
#shoppingCart .details .id {
  margin-bottom: 8px;
}
/* line 392, ../sass/main.scss */
#shoppingCart .details a:last-child {
  margin-left: 22px;
}
/* line 397, ../sass/main.scss */
#shoppingCart .close {
  margin: 0;
}
/* line 401, ../sass/main.scss */
#shoppingCart .tri {
  border-bottom: 1px solid #dddad6;
  border-right: 1px solid #dddad6;
  background-color: #fcfbf9;
  display: block;
  height: 20px;
  right: 23px;
  position: absolute;
  bottom: -10px;
  width: 20px;
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* line 416, ../sass/main.scss */
#shoppingCart .first .right {
  color: #002d47;
}
/* line 418, ../sass/main.scss */
#shoppingCart .first .right .wrapper > div {
  float: left;
}
/* line 421, ../sass/main.scss */
#shoppingCart .first .right .quantity {
  margin-right: 63px;
}
/* line 424, ../sass/main.scss */
#shoppingCart .first .right .color,
#shoppingCart .first .right .quantity {
  margin-right: 63px;
}
/* line 428, ../sass/main.scss */
#shoppingCart .first .right .size {
  margin-right: 72px;
}
/* line 433, ../sass/main.scss */
#shoppingCart .quantity {
  display: inline-block;
  position: relative;
}
/* line 438, ../sass/main.scss */
#shoppingCart .select {
  cursor: pointer;
  box-shadow: unset;
  border: 1px solid #dddad6;
  display: block;
  font-size: 15px;
  font-family: "sofia_prolight";
  height: 41px;
  margin: 0;
  padding-left: 15px;
  width: 65px;
}
/* line 450, ../sass/main.scss */
#shoppingCart .select.closed {
  background-position: 40px 18px;
}
/* line 454, ../sass/main.scss */
#shoppingCart .select.opened {
  background-position: 40px -185px;
}
/* line 459, ../sass/main.scss */
#shoppingCart .picker {
  background-color: #fff;
  border: 1px solid #dddad6;
  display: none;
  margin-top: -1px;
}
/* line 464, ../sass/main.scss */
#shoppingCart .picker li {
  color: #002d47;
  font-size: 14px;
  font-family: "sofia_prolight";
  padding: 12px 0 12px 17px;
}
/* line 469, ../sass/main.scss */
#shoppingCart .picker li:hover {
  background-color: #eeebe7;
  cursor: pointer;
}
/* line 474, ../sass/main.scss */
#shoppingCart .picker li:active {
  font-family: "sofia_promedium";
}
/* line 479, ../sass/main.scss */
#shoppingCart .outter-c {
  border: 1px solid #dddad6;
  border-radius: 20px;
  cursor: pointer;
  padding: 11px;
  height: 40px;
  width: 40px;
}
/* line 487, ../sass/main.scss */
#shoppingCart .inner-c {
  background: #000;
  border-radius: 10px;
  content: " ";
}
/* line 493, ../sass/main.scss */
#shoppingCart .sym {
  display: flex;
  padding-top: 10px;
}
/* line 498, ../sass/main.scss */
#shoppingCart .lbl {
  display: flex;
  font-size: 15px;
  font-family: "sofia_promedium";
  padding-bottom: 15px;
}

/* ===================================
   Search block
   =================================== */
/* line 511, ../sass/main.scss */
#searchBlock {
  background-color: #fcfbf9;
  position: absolute;
  width: 100%;
  z-index: 2;
}
/* line 517, ../sass/main.scss */
#searchBlock .top-block {
  border-top: 1px solid #dddad6;
  border-bottom: 1px solid #dddad6;
  height: 50px;
}
/* line 521, ../sass/main.scss */
#searchBlock .top-block .btn {
  position: absolute;
  top: 0;
}
/* line 525, ../sass/main.scss */
#searchBlock .top-block .clear-btn {
  background-color: transparent;
  border: medium none;
  height: 48px;
  right: 161px;
  text-indent: -9999px;
  width: 72px;
  outline: none;
  -webkit-outline: none;
  background-position: 36px -183px;
}
/* line 537, ../sass/main.scss */
#searchBlock .top-block .search-btn {
  height: 48px;
  right: 49px;
  width: 112px;
  outline: none;
  -webkit-outline: none;
  background-position: 91px -783px;
}
/* line 546, ../sass/main.scss */
#searchBlock .top-block .search-btn:hover, #searchBlock .top-block .search-btn:active {
  background-color: #001d2d;
}
/* line 553, ../sass/main.scss */
#searchBlock .bottom-block {
  border-top: none;
  border-bottom: 1px solid #dddad6;
  padding: 22px 0 7px;
}
/* line 559, ../sass/main.scss */
#searchBlock .suggestions-list > li {
  cursor: pointer;
  color: #58799d;
  font-size: 15px;
  font-family: "sofia_promedium";
  padding-bottom: 15px;
  text-align: center;
}
/* line 567, ../sass/main.scss */
#searchBlock .suggestions-list > li:first-child {
  color: #001d2d;
}
/* line 571, ../sass/main.scss */
#searchBlock .tri {
  border-top: 1px solid #dddad6;
  border-left: 1px solid #dddad6;
  background-color: #fcfbf9;
  display: block;
  height: 20px;
  right: 20px;
  position: absolute;
  top: -10px;
  width: 20px;
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* line 586, ../sass/main.scss */
#searchBlock .type-btn {
  background-color: #fcfbf9;
  border: none;
  display: block;
  margin: 0 auto;
  height: 48px;
  text-align: center;
  width: 362px;
}

/* ===================================
   Collapsible menu
   =================================== */
/* line 602, ../sass/main.scss */
#collapsibleMenu {
  background-color: #fcfbf9;
  width: 233px;
  position: absolute;
  top: 0;
  z-index: 6;
}
/* line 609, ../sass/main.scss */
#collapsibleMenu ul {
  border-right: 1px solid #dddad6;
}
/* line 617, ../sass/main.scss */
#collapsibleMenu .sub-menu.lvl-two {
  border-top: 1px solid #dddad6;
  margin: 15px -1px -16px -10px;
}
/* line 622, ../sass/main.scss */
#collapsibleMenu .indicator.opened {
  cursor: pointer;
  background: url("../images/small_icons/close2.png");
  background-position: 212px 20px;
  background-repeat: no-repeat;
}
/* line 627, ../sass/main.scss */
#collapsibleMenu .indicator.opened ul {
  display: block;
}
/* line 632, ../sass/main.scss */
#collapsibleMenu .indicator.closed {
  cursor: pointer;
  background: url("../images/small_icons/arrow_down.png");
  background-position: 212px 20px;
  background-repeat: no-repeat;
}
/* line 637, ../sass/main.scss */
#collapsibleMenu .indicator.closed ul {
  display: none;
}
/* line 642, ../sass/main.scss */
#collapsibleMenu li {
  color: #002d47;
  font-size: 15px;
  font-family: "sofia_prolight";
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddad6;
}

/* ===================================
   Slider
   =================================== */
/* line 658, ../sass/main.scss */
#slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 663, ../sass/main.scss */
#slider .slides {
  width: 100%;
  position: relative;
  display: block;
}
/* line 669, ../sass/main.scss */
#slider .slide {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 676, ../sass/main.scss */
#slider .slide:not(.active) {
  position: absolute;
}
/* line 680, ../sass/main.scss */
#slider .left {
  background-image: url("../images/arrow_left.png");
  margin-left: -6px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 687, ../sass/main.scss */
#slider .right {
  float: right;
  background-image: url("../images/arrow_right.png");
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 694, ../sass/main.scss */
#slider .active {
  z-index: 2;
}
/* line 698, ../sass/main.scss */
#slider .inner {
  text-align: center;
}
/* line 702, ../sass/main.scss */
#slider .caption {
  color: #fff;
}
/* line 706, ../sass/main.scss */
#slider .caption h3 {
  font-size: 110px;
  font-family: "sofia_probold";
  margin: 0;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
}
/* line 712, ../sass/main.scss */
#slider .caption span {
  font-size: 25px;
  font-family: "sofia_prolight";
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
}
/* line 719, ../sass/main.scss */
#slider .controlls {
  position: absolute;
  top: calc(50% - 25px);
  width: 100%;
}
/* line 723, ../sass/main.scss */
#slider .controlls span:hover {
  background-color: #001d2d;
}
/* line 728, ../sass/main.scss */
#slider .navs {
  bottom: 0;
  position: absolute;
  left: calc(50% - 25px);
  z-index: 3;
}
/* line 733, ../sass/main.scss */
#slider .navs li {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 0 2px;
  text-indent: -9999px;
  width: 8px;
}
/* line 744, ../sass/main.scss */
#slider .navs .active {
  background: white;
}
/* line 751, ../sass/main.scss */
#slider:hover .controlls span {
  opacity: 1;
}

/* ===================================
   Boxes
   =================================== */
/* line 761, ../sass/main.scss */
#boxes {
  display: block;
  position: relative;
  width: 100%;
}
/* line 766, ../sass/main.scss */
#boxes .left,
#boxes .right {
  background-color: #002d47;
  float: left;
  overflow: hidden;
  position: relative;
  width: 50%;
}
/* line 775, ../sass/main.scss */
#boxes img {
  opacity: 0.9;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 778, ../sass/main.scss */
#boxes img:hover {
  opacity: 0.85;
}
/* line 786, ../sass/main.scss */
#boxes .box-caption span {
  color: #fff;
  font-size: 50px;
  font-family: "sofia_promedium";
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
  z-index: 5;
}

/* ===================================
   Notice
   =================================== */
/* line 801, ../sass/main.scss */
.notice {
  border-top: 1px solid #dddad6;
  border-bottom: 1px solid #dddad6;
  height: 69px;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 809, ../sass/main.scss */
.notice h4 {
  color: #002d47;
  font-size: 25px;
  font-family: "sofia_promedium";
  margin: 0;
}

/* ===================================
   Products
   =================================== */
/* line 821, ../sass/main.scss */
.products {
  border-bottom: 1px solid #dddad6;
  position: relative;
  width: 100%;
}
/* line 826, ../sass/main.scss */
.products .left {
  padding-left: 0;
}
/* line 830, ../sass/main.scss */
.products .right {
  padding-right: 0;
}
/* line 834, ../sass/main.scss */
.products .iBox {
  width: 50%;
  float: left;
}
/* line 837, ../sass/main.scss */
.products .iBox .image {
  padding-right: 10px;
}
/* line 843, ../sass/main.scss */
.products .oBox .image {
  padding-right: 10px;
}
/* line 846, ../sass/main.scss */
.products .oBox .details {
  padding-left: 10px;
  padding-top: 38px;
  color: #002d47;
}
/* line 853, ../sass/main.scss */
.products h3 {
  font-size: 19px;
  font-family: "sofia_promedium";
  margin: 0;
}
/* line 859, ../sass/main.scss */
.products p {
  font-size: 14op;
  font-family: "sofia_prolight";
  line-height: 1.5;
  margin-top: 18px;
}
/* line 866, ../sass/main.scss */
.products a {
  display: block;
  font-size: 14px;
  font-family: "sofia_probold";
  color: #002d47;
  margin-top: 20px;
  background-position: 89px -767px;
}

/* ===================================
   Contactr block
   =================================== */
/* line 881, ../sass/main.scss */
#contact {
  background-color: #fcfbf9;
  padding: 30px 0 42px 0;
}
/* line 885, ../sass/main.scss */
#contact .container-fluid {
  padding: 0 14px;
}
/* line 889, ../sass/main.scss */
#contact .sub-menu {
  display: inline-block;
  float: left;
}
/* line 892, ../sass/main.scss */
#contact .sub-menu li {
  padding-bottom: 15px;
}
/* line 895, ../sass/main.scss */
#contact .sub-menu a {
  color: #002d47;
  display: block;
  font-size: 15px;
  font-family: "sofia_promedium";
  letter-spacing: 1px;
}
/* line 901, ../sass/main.scss */
#contact .sub-menu a:hover {
  color: #000;
  font-family: "sofia_probold";
}
/* line 910, ../sass/main.scss */
#contact .newsletter span {
  display: flex;
  font-size: 14px;
  font-family: "sofia_prolight";
  line-height: 1.5;
  margin: 0;
  margin-top: -6px;
}
/* line 918, ../sass/main.scss */
#contact .newsletter .email {
  box-shadow: unset;
  border: 1px solid #dddad6;
  display: block;
  font-size: 14px;
  font-family: "sofia_prolight";
  height: 43px;
  margin: 11px 0 15px 0;
  padding-left: 10px;
  width: 288px;
  outline: none;
  -webkit-outline: none;
}
/* line 931, ../sass/main.scss */
#contact .newsletter .invalid {
  border: 1px solid #e6535d;
}
/* line 937, ../sass/main.scss */
#contact .newsletter .btn:hover, #contact .newsletter .btn:active {
  background-color: #001d2d;
}
/* line 942, ../sass/main.scss */
#contact .newsletter .w {
  margin-right: 12px;
  background-position: 79px -785px;
}
/* line 946, ../sass/main.scss */
#contact .newsletter .m {
  margin-right: 12px;
  background-position: 58px -785px;
}
/* line 950, ../sass/main.scss */
#contact .newsletter .b {
  background-position: 66px -785px;
}
/* line 955, ../sass/main.scss */
#contact .info > div {
  display: inline-block;
  padding-right: 13px;
}
/* line 960, ../sass/main.scss */
#contact .info {
  float: right;
  text-align: center;
  font-size: 14px;
}
/* line 964, ../sass/main.scss */
#contact .info .pin {
  margin: 0 auto;
  margin-bottom: 11px;
  display: block;
  height: 35px;
  width: 26px;
}
/* line 972, ../sass/main.scss */
#contact .info p {
  color: #002d47;
  display: block;
  font-size: 14px;
  font-family: "sofia_prolight";
  margin: 4px;
}
/* line 979, ../sass/main.scss */
#contact .info a {
  color: #002d47;
  display: block;
  font-family: "sofia_probold";
  margin-top: 20px;
  padding-right: 20px;
  background-position: 153px -767px;
}

/* ===================================
   Footer block
   =================================== */
/* line 995, ../sass/main.scss */
footer {
  background-color: #002d47;
  height: 50px;
  padding-top: 15px;
}
/* line 1000, ../sass/main.scss */
footer .container-fluid {
  padding: 0 28px;
}

/* line 1008, ../sass/main.scss */
#information p {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-family: "sofia_prolight";
}
/* line 1015, ../sass/main.scss */
#information .socials {
  float: right;
  padding-right: 13px;
}
/* line 1018, ../sass/main.scss */
#information .socials li {
  display: inline-block;
  margin: 0 10px;
}
/* line 1022, ../sass/main.scss */
#information .socials a {
  display: block;
  width: 20px;
  height: 20px;
}
/* line 1029, ../sass/main.scss */
#information .fb {
  background-position: 6px -231px;
}
/* line 1032, ../sass/main.scss */
#information .fb:hover {
  background-position: 6px -269px;
}
/* line 1043, ../sass/main.scss */
#information .in {
  background-position: 0 -416px;
}
/* line 1046, ../sass/main.scss */
#information .in:hover {
  background-position: 0 -453px;
}
/* line 1051, ../sass/main.scss */
#information .gp {
  background-position: 0 -305px;
}
/* line 1054, ../sass/main.scss */
#information .gp:hover {
  background-position: 0 -342px;
}
/* line 1065, ../sass/main.scss */
#information .tw {
  background-position: 0 -830px;
}
/* line 1068, ../sass/main.scss */
#information .tw:hover {
  background-position: 0 -865px;
}

/* ===================================
   Misc
   =================================== */
/* line 1079, ../sass/main.scss */
#cartShadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: none;
}

/* line 1090, ../sass/main.scss */
.close {
  cursor: pointer;
  display: block;
  float: right;
  margin-bottom: 24px;
  height: 12px;
  width: 12px;
  -webkit-transition-duration: 0.34s;
  -moz-transition-duration: 0.34s;
  -o-transition-duration: 0.34s;
  transition-duration: 0.34s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

/* line 1104, ../sass/main.scss */
.z5 {
  z-index: 5 !important;
}

/* ===================================
   Push animations
   =================================== */
/* line 1112, ../sass/main.scss */
#searchBlock.push-in {
  transform: translateY(-169px);
  transition: transform 0.5s ease 0s;
}

/* line 1117, ../sass/main.scss */
#searchBlock.push-out {
  transform: translateY(0);
  transition: transform 0.5s ease 0s;
}

/* line 1122, ../sass/main.scss */
#mainNavbar {
  transform: translateY(0);
}

/* line 1126, ../sass/main.scss */
#mainNavbar.has-push-top,
.mid-section.has-push-top {
  transform: translateY(385px);
  transition: transform 0.5s ease 0s;
}

/* line 1132, ../sass/main.scss */
#mainNavbar.has-push-left,
.mid-section.has-push-left {
  transform: translateX(233px);
  transition: transform 0.5s ease 0s;
}

/* line 1138, ../sass/main.scss */
.mid-section.has-push-mid {
  transform: translateY(170px);
  transition: transform 0.5s ease 0s;
}

/* line 1144, ../sass/main.scss */
#mainNavbar.not-push,
.mid-section.not-push {
  transform: translateY(0);
  transition: transform 0.5s ease 0s;
}

/*** For ease of access ***/
@media only screen and (min-width: 1024px) {
  /* line 1151, ../sass/main.scss */
  .shopping-cart.push-out {
    transform: translateY(-385px);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 1151, ../sass/main.scss */
  .shopping-cart.push-out {
    transform: translateY(-455px);
  }
}
@media only screen and (max-width: 768px) {
  /* line 1151, ../sass/main.scss */
  .shopping-cart.push-out {
    transform: translateY(-607px);
  }
}

@media only screen and (max-width: 768px) {
  /* line 1162, ../sass/main.scss */
  .collapsible-menu.push-in {
    transform: translateX(-233px);
    transition: transform 0.5s ease 0s;
  }
}

@media only screen and (max-width: 768px) {
  /* line 1168, ../sass/main.scss */
  .collapsible-menu.push-out {
    transform: translateX(0);
    transition: transform 0.5s ease 0s;
  }
}

/* line 1176, ../sass/main.scss */
.shopping-cart.push-in {
  transform: translateY(0px);
}

/* ===================================
   Additional imports
   =================================== */
/**
 *   For mediaqueries.
 */
/* LArge devices, Desktopsa nd Laptops [and even a few tablets] */
/* Medium Devices, Tablets */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 16, ../sass/responsive.scss */
  #shoppingCart .third.row .right {
    text-align: right;
  }
  /* line 20, ../sass/responsive.scss */
  #shoppingCart .first .right .size
  .first .right .color,
  #shoppingCart .first .right .quantity {
    margin-right: 31px;
  }
  /* line 26, ../sass/responsive.scss */
  #shoppingCart .ccards {
    margin: 0;
  }

  /* End shoppingCart */
  /* line 34, ../sass/responsive.scss */
  #contact .info > div {
    padding-right: 0;
  }
  /* line 39, ../sass/responsive.scss */
  #contact .newsletter .email {
    width: 100%;
  }
  /* line 42, ../sass/responsive.scss */
  #contact .newsletter .w {
    margin: 0;
    background-position: 69px, 16px;
  }
  /* line 46, ../sass/responsive.scss */
  #contact .newsletter .m {
    margin: 0;
    background-position: 47px, 16px;
  }
  /* line 50, ../sass/responsive.scss */
  #contact .newsletter .b {
    background-position: 54px, 16px;
  }
  /* line 53, ../sass/responsive.scss */
  #contact .newsletter .btn {
    padding: 0 20px 0 9px;
  }

  /* End Contact */
  /* line 61, ../sass/responsive.scss */
  .products .left,
  .products .right {
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 70, ../sass/responsive.scss */
  .visible-xs {
    display: none;
  }
}
/* Small Devices, Tablets 10.1, Phones */
@media only screen and (max-width: 768px) {
  /* line 80, ../sass/responsive.scss */
  #navigation .lang,
  #navigation .login,
  #navigation .nav-menu,
  #navigation .wishlist {
    display: none;
  }
  /* line 87, ../sass/responsive.scss */
  #navigation .second-level {
    display: block;
  }
  /* line 91, ../sass/responsive.scss */
  #navigation .logo {
    left: calc(50% - 100px);
  }
  /* line 93, ../sass/responsive.scss */
  #navigation .logo a {
    font-size: 22px;
  }
  /* line 98, ../sass/responsive.scss */
  #navigation .cart {
    margin-top: 5px;
  }
  /* line 102, ../sass/responsive.scss */
  #navigation .search {
    left: calc(50% + 17px);
    right: 0;
  }
  /* line 107, ../sass/responsive.scss */
  #navigation .first-level div:not(.logo) a {
    padding-top: 1px;
  }
  /* line 111, ../sass/responsive.scss */
  #navigation .toggler-wrapper {
    left: 10px;
    position: absolute;
    width: 31px;
    top: 20px;
  }
  /* line 116, ../sass/responsive.scss */
  #navigation .toggler-wrapper button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 18px;
    outline: medium none;
    width: 17px;
    margin-top: 4px;
    padding: 0;
  }
  /* line 125, ../sass/responsive.scss */
  #navigation .toggler-wrapper button .bar {
    background: #000;
    color: #000;
    border-radius: 1px;
    display: block;
    margin-bottom: 3px;
    height: 2px;
    width: 18px;
  }

  /* line 139, ../sass/responsive.scss */
  #information {
    height: 100%;
  }
  /* line 142, ../sass/responsive.scss */
  #information .socials {
    display: table;
    margin: 0 auto;
    padding: 0;
    float: none;
  }
  /* line 149, ../sass/responsive.scss */
  #information p {
    bottom: 15px;
    left: calc(50% - 40px);
    position: absolute;
  }

  /* End information */
  /* line 156, ../sass/responsive.scss */
  footer {
    padding-top: 20px;
    height: 86px;
  }
  /* line 160, ../sass/responsive.scss */
  footer footer .container-fluid {
    height: 100%;
    padding: 0 28px;
  }

  /* End Footer */
  /* line 168, ../sass/responsive.scss */
  #contact .sub-menu,
  #contact .info {
    display: none;
  }
  /* line 173, ../sass/responsive.scss */
  #contact .newsletter {
    width: 100%;
    padding: 0;
  }
  /* line 176, ../sass/responsive.scss */
  #contact .newsletter .email {
    width: 100%;
  }
  /* line 179, ../sass/responsive.scss */
  #contact .newsletter .m {
    margin: 0;
    position: absolute;
    left: calc(50% - 30px);
  }
  /* line 184, ../sass/responsive.scss */
  #contact .newsletter .w {
    margin: 0;
  }
  /* line 187, ../sass/responsive.scss */
  #contact .newsletter .b {
    float: right;
  }

  /* End contact */
  /* line 194, ../sass/responsive.scss */
  .products .left {
    padding: 0;
  }
  /* line 197, ../sass/responsive.scss */
  .products .oBox {
    padding-bottom: 60px;
  }
  /* line 199, ../sass/responsive.scss */
  .products .oBox .image {
    padding: 0;
  }
  /* line 202, ../sass/responsive.scss */
  .products .oBox .details {
    padding: 20px 10px 0;
  }
  /* line 206, ../sass/responsive.scss */
  .products .iBox {
    float: none;
    width: 100%;
  }

  /* End products */
  /* line 212, ../sass/responsive.scss */
  .notice h4 {
    font-size: 19px;
    font-weight: 100;
  }

  /* line 217, ../sass/responsive.scss */
  #boxes .box-caption span {
    font-size: 26px;
    width: 80px;
  }

  /* line 222, ../sass/responsive.scss */
  #slider .caption h3 {
    font-size: 100px;
    font-weight: 100;
  }

  /* line 229, ../sass/responsive.scss */
  #shoppingCart .left,
  #shoppingCart .right {
    width: 100%;
  }
  /* line 234, ../sass/responsive.scss */
  #shoppingCart .first .left,
  #shoppingCart .second .left,
  #shoppingCart .third .left {
    padding-bottom: 15px;
  }
  /* line 240, ../sass/responsive.scss */
  #shoppingCart .first .right .size,
  #shoppingCart .first .right .color,
  #shoppingCart .first .right .quantity {
    margin-right: 1px;
  }
  /* line 246, ../sass/responsive.scss */
  #shoppingCart .ccards {
    margin: 0;
  }
  /* line 250, ../sass/responsive.scss */
  #shoppingCart .first .right .wrapper > div {
    float: left;
    width: 24%;
  }
  /* line 255, ../sass/responsive.scss */
  #shoppingCart .product .image {
    padding-right: 0;
    width: 50%;
  }
  /* line 260, ../sass/responsive.scss */
  #shoppingCart .details {
    margin-left: 0;
    padding-left: 0;
    width: 50%;
  }
  /* line 266, ../sass/responsive.scss */
  #shoppingCart table tr td:last-child {
    padding-right: 0;
  }
  /* line 270, ../sass/responsive.scss */
  #shoppingCart .row p {
    text-align: center;
  }
  /* line 274, ../sass/responsive.scss */
  #shoppingCart .third .right > div {
    display: block;
    margin: 0 auto;
    width: 192px;
  }

  /* End shoppingCart */
  /* line 283, ../sass/responsive.scss */
  #searchBlock .top-block .search-btn {
    background-position: 8px -783px;
    padding: 0;
    right: 0;
    text-indent: -9999px;
    width: 17px;
  }
  /* line 290, ../sass/responsive.scss */
  #searchBlock .top-block .clear-btn {
    background-position: 11px -183px;
    right: 17px;
    text-indent: -9999px;
    width: 30px;
  }

  /* End searchBlock */
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 308, ../sass/responsive.scss */
  #slider .caption h3 {
    font-size: 80px;
    font-weight: 100;
  }

  /* line 312, ../sass/responsive.scss */
  #slider .caption span {
    font-size: 21px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ===================================
   End of file
   =================================== */
