/**
 *   For mediaqueries.
 */
/* LArge devices, Desktopsa nd Laptops [and even a few tablets] */
/* Medium Devices, Tablets */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 16, ../sass/responsive.scss */
  #shoppingCart .third.row .right {
    text-align: right;
  }
  /* line 20, ../sass/responsive.scss */
  #shoppingCart .first .right .size
  .first .right .color,
  #shoppingCart .first .right .quantity {
    margin-right: 31px;
  }
  /* line 26, ../sass/responsive.scss */
  #shoppingCart .ccards {
    margin: 0;
  }

  /* End shoppingCart */
  /* line 34, ../sass/responsive.scss */
  #contact .info > div {
    padding-right: 0;
  }
  /* line 39, ../sass/responsive.scss */
  #contact .newsletter .email {
    width: 100%;
  }
  /* line 42, ../sass/responsive.scss */
  #contact .newsletter .w {
    margin: 0;
    background-position: 69px, 16px;
  }
  /* line 46, ../sass/responsive.scss */
  #contact .newsletter .m {
    margin: 0;
    background-position: 47px, 16px;
  }
  /* line 50, ../sass/responsive.scss */
  #contact .newsletter .b {
    background-position: 54px, 16px;
  }
  /* line 53, ../sass/responsive.scss */
  #contact .newsletter .btn {
    padding: 0 20px 0 9px;
  }

  /* End Contact */
  /* line 61, ../sass/responsive.scss */
  .products .left,
  .products .right {
    padding: 10px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 70, ../sass/responsive.scss */
  .visible-xs {
    display: none;
  }
}
/* Small Devices, Tablets 10.1, Phones */
@media only screen and (max-width: 768px) {
  /* line 80, ../sass/responsive.scss */
  #navigation .lang,
  #navigation .login,
  #navigation .nav-menu,
  #navigation .wishlist {
    display: none;
  }
  /* line 87, ../sass/responsive.scss */
  #navigation .second-level {
    display: block;
  }
  /* line 91, ../sass/responsive.scss */
  #navigation .logo {
    left: calc(50% - 100px);
  }
  /* line 93, ../sass/responsive.scss */
  #navigation .logo a {
    font-size: 22px;
  }
  /* line 98, ../sass/responsive.scss */
  #navigation .cart {
    margin-top: 5px;
  }
  /* line 102, ../sass/responsive.scss */
  #navigation .search {
    left: calc(50% + 17px);
    right: 0;
  }
  /* line 107, ../sass/responsive.scss */
  #navigation .first-level div:not(.logo) a {
    padding-top: 1px;
  }
  /* line 111, ../sass/responsive.scss */
  #navigation .toggler-wrapper {
    left: 10px;
    position: absolute;
    width: 31px;
    top: 20px;
  }
  /* line 116, ../sass/responsive.scss */
  #navigation .toggler-wrapper button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 18px;
    outline: medium none;
    width: 17px;
    margin-top: 4px;
    padding: 0;
  }
  /* line 125, ../sass/responsive.scss */
  #navigation .toggler-wrapper button .bar {
    background: #000;
    color: #000;
    border-radius: 1px;
    display: block;
    margin-bottom: 3px;
    height: 2px;
    width: 18px;
  }

  /* line 139, ../sass/responsive.scss */
  #information {
    height: 100%;
  }
  /* line 142, ../sass/responsive.scss */
  #information .socials {
    display: table;
    margin: 0 auto;
    padding: 0;
    float: none;
  }
  /* line 149, ../sass/responsive.scss */
  #information p {
    bottom: 15px;
    left: calc(50% - 40px);
    position: absolute;
  }

  /* End information */
  /* line 156, ../sass/responsive.scss */
  footer {
    padding-top: 20px;
    height: 86px;
  }
  /* line 160, ../sass/responsive.scss */
  footer footer .container-fluid {
    height: 100%;
    padding: 0 28px;
  }

  /* End Footer */
  /* line 168, ../sass/responsive.scss */
  #contact .sub-menu,
  #contact .info {
    display: none;
  }
  /* line 173, ../sass/responsive.scss */
  #contact .newsletter {
    width: 100%;
    padding: 0;
  }
  /* line 176, ../sass/responsive.scss */
  #contact .newsletter .email {
    width: 100%;
  }
  /* line 179, ../sass/responsive.scss */
  #contact .newsletter .m {
    margin: 0;
    position: absolute;
    left: calc(50% - 30px);
  }
  /* line 184, ../sass/responsive.scss */
  #contact .newsletter .w {
    margin: 0;
  }
  /* line 187, ../sass/responsive.scss */
  #contact .newsletter .b {
    float: right;
  }

  /* End contact */
  /* line 194, ../sass/responsive.scss */
  .products .left {
    padding: 0;
  }
  /* line 197, ../sass/responsive.scss */
  .products .oBox {
    padding-bottom: 60px;
  }
  /* line 199, ../sass/responsive.scss */
  .products .oBox .image {
    padding: 0;
  }
  /* line 202, ../sass/responsive.scss */
  .products .oBox .details {
    padding: 20px 10px 0;
  }
  /* line 206, ../sass/responsive.scss */
  .products .iBox {
    float: none;
    width: 100%;
  }

  /* End products */
  /* line 212, ../sass/responsive.scss */
  .notice h4 {
    font-size: 19px;
    font-weight: 100;
  }

  /* line 217, ../sass/responsive.scss */
  #boxes .box-caption span {
    font-size: 26px;
    width: 80px;
  }

  /* line 222, ../sass/responsive.scss */
  #slider .caption h3 {
    font-size: 100px;
    font-weight: 100;
  }

  /* line 229, ../sass/responsive.scss */
  #shoppingCart .left,
  #shoppingCart .right {
    width: 100%;
  }
  /* line 234, ../sass/responsive.scss */
  #shoppingCart .first .left,
  #shoppingCart .second .left,
  #shoppingCart .third .left {
    padding-bottom: 15px;
  }
  /* line 240, ../sass/responsive.scss */
  #shoppingCart .first .right .size,
  #shoppingCart .first .right .color,
  #shoppingCart .first .right .quantity {
    margin-right: 1px;
  }
  /* line 246, ../sass/responsive.scss */
  #shoppingCart .ccards {
    margin: 0;
  }
  /* line 250, ../sass/responsive.scss */
  #shoppingCart .first .right .wrapper > div {
    float: left;
    width: 24%;
  }
  /* line 255, ../sass/responsive.scss */
  #shoppingCart .product .image {
    padding-right: 0;
    width: 50%;
  }
  /* line 260, ../sass/responsive.scss */
  #shoppingCart .details {
    margin-left: 0;
    padding-left: 0;
    width: 50%;
  }
  /* line 266, ../sass/responsive.scss */
  #shoppingCart table tr td:last-child {
    padding-right: 0;
  }
  /* line 270, ../sass/responsive.scss */
  #shoppingCart .row p {
    text-align: center;
  }
  /* line 274, ../sass/responsive.scss */
  #shoppingCart .third .right > div {
    display: block;
    margin: 0 auto;
    width: 192px;
  }

  /* End shoppingCart */
  /* line 283, ../sass/responsive.scss */
  #searchBlock .top-block .search-btn {
    background-position: 8px -783px;
    padding: 0;
    right: 0;
    text-indent: -9999px;
    width: 17px;
  }
  /* line 290, ../sass/responsive.scss */
  #searchBlock .top-block .clear-btn {
    background-position: 11px -183px;
    right: 17px;
    text-indent: -9999px;
    width: 30px;
  }

  /* End searchBlock */
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 308, ../sass/responsive.scss */
  #slider .caption h3 {
    font-size: 80px;
    font-weight: 100;
  }

  /* line 312, ../sass/responsive.scss */
  #slider .caption span {
    font-size: 21px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
